In [1]:
import pandas as pd 
import funciones1 as dp

In [2]:
#Llamar función 1 
nombre_archivo = "Amsterdam1.csv"
df1 = dp.carga_de_archivo("amsterdam1.csv")
df1

,Unnamed: 0,id,host_name,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,...,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,290701,David,"Amsterdam, Netherlands",within an hour,100%,99%,t,De Wallen,2,...,38,3,2012-02-20,2024-12-03,t,2,0,2,0,3.05
1,1,291752,Ton,"Amsterdam, Netherlands",within a day,100%,100%,t,Oosterparkbuurt,1,...,18,0,2012-01-02,2024-10-09,f,1,0,1,0,1.72
2,2,304082,Mirre,"Amsterdam, Netherlands",within a few hours,100%,97%,t,De Wallen,1,...,51,0,2012-03-22,2024-11-06,f,1,1,0,0,2.15
3,3,304143,Dick,"Amsterdam, Netherlands",within an hour,100%,25%,f,Weesperbuurt en Plantage,2,...,0,0,2012-02-17,2020-03-07,f,1,1,0,0,0.32
4,4,306852,Gisèle And Simon,"Amsterdam, Netherlands",NaN,NaN,NaN,f,Grachtengordel,3,...,0,0,2012-09-14,2023-04-01,f,3,2,1,0,0.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10027,10027,1305113794396109253,Dennis,"Amsterdam, Netherlands",within an hour,100%,98%,f,NaN,8,...,0,0,NaN,NaN,t,6,5,1,0,NaN
10028,10028,1305118862524488042,Dennis,"Amsterdam, Netherlands",within an hour,100%,98%,f,NaN,8,...,0,0,NaN,NaN,t,6,5,1,0,NaN
10029,10029,1305120526363147603,Dennis,"Amsterdam, Netherlands",within an hour,100%,98%,f,NaN,8,...,0,0,NaN,NaN,t,6,5,1,0,NaN
10030,10030,1305159229525542410,Mark,"Amsterdam, Netherlands",NaN,NaN,NaN,f,NaN,1,...,0,0,NaN,NaN,f,1,1,0,0,NaN
10031,10031,1305259577734260542,Julie,"Kuala Lumpur, Malaysia",NaN,NaN,NaN,f,NaN,1,...,0,0,NaN,NaN,t,1,0,1,0,NaN

In [3]:
#Llamar función 2
df_sin_nulos = dp.sustituye_valores_nulos(df1)
df_sin_nulos

('Valores nulos sustituidos en DataFrame',
        Unnamed: 0                   id         host_name  \
 0               0               290701             David
 1               1               291752               Ton
 2               2               304082             Mirre
 3               3               304143              Dick
 4               4               306852  Gisèle And Simon
 ...           ...                  ...               ...
 10027       10027  1305113794396109253            Dennis
 10028       10028  1305118862524488042            Dennis
 10029       10029  1305120526363147603            Dennis
 10030       10030  1305159229525542410              Mark
 10031       10031  1305259577734260542             Julie

                 host_location     host_response_time     host_response_rate  \
 0      Amsterdam, Netherlands         within an hour                   100%
 1      Amsterdam, Netherlands           within a day                   100%
 2      Amsterdam, Netherlands     within a few hours                   100%
 3      Amsterdam, Netherlands         within an hour                   100%
 4      Amsterdam, Netherlands  Este_es_un_valor_nulo  Este_es_un_valor_nulo
 ...                       ...                    ...                    ...
 10027  Amsterdam, Netherlands         within an hour                   100%
 10028  Amsterdam, Netherlands         within an hour                   100%
 10029  Amsterdam, Netherlands         within an hour                   100%
 10030  Amsterdam, Netherlands  Este_es_un_valor_nulo  Este_es_un_valor_nulo
 10031  Kuala Lumpur, Malaysia  Este_es_un_valor_nulo  Este_es_un_valor_nulo

         host_acceptance_rate host_is_superhost        host_neighbourhood  \
 0                        99%                 t                 De Wallen
 1                       100%                 t           Oosterparkbuurt
 2                        97%                 t                 De Wallen
 3                        25%                 f  Weesperbuurt en Plantage
 4      Este_es_un_valor_nulo                 f            Grachtengordel
 ...                      ...               ...                       ...
 10027                    98%                 f     Este_es_un_valor_nulo
 10028                    98%                 f     Este_es_un_valor_nulo
 10029                    98%                 f     Este_es_un_valor_nulo
 10030  Este_es_un_valor_nulo                 f     Este_es_un_valor_nulo
 10031  Este_es_un_valor_nulo                 f     Este_es_un_valor_nulo

        host_listings_count  ... number_of_reviews_ltm number_of_reviews_l30d  \
 0                        2  ...                    38                      3
 1                        1  ...                    18                      0
 2                        1  ...                    51                      0
 3                        2  ...                     0                      0
 4                        3  ...                     0                      0
 ...                    ...  ...                   ...                    ...
 10027                    8  ...                     0                      0
 10028                    8  ...                     0                      0
 10029                    8  ...                     0                      0
 10030                    1  ...                     0                      0
 10031                    1  ...                     0                      0

                 first_review            last_review instant_bookable  \
 0                 2012-02-20             2024-12-03                t
 1                 2012-01-02             2024-10-09                f
 2                 2012-03-22             2024-11-06                f
 3                 2012-02-17             2020-03-07                f
 4                 2012-09-14             2023-04-01                f
 ...                      ...                    ...              ...
 10027  Este_es_un_valor_nulo  Este_es_un_valor_nulo                t
 10028  Este_es_un_valor_nulo  Este_es_un_valor_nulo                t
 10029  Este_es_un_valor_nulo  Este_es_un_valor_nulo                t
 10030  Este_es_un_valor_nulo  Este_es_un_valor_nulo                f
 10031  Este_es_un_valor_nulo  Este_es_un_valor_nulo                t

        calculated_host_listings_count  \
 0                                   2
 1                                   1
 2                                   1
 3                                   1
 4                                   3
 ...                               ...
 10027                               6
 10028                               6
 10029                               6
 10030                               1
 10031                               1

        calculated_host_listings_count_entire_homes  \
 0                                                0
 1                                                0
 2                                                1
 3                                                1
 4                                                2
 ...                                            ...
 10027                                            5
 10028                                            5
 10029                                            5
 10030                                            1
 10031                                            0

       calculated_host_listings_count_private_rooms  \
 0                                                2
 1                                                1
 2                                                0
 3                                                0
 4                                                1
 ...                                            ...
 10027                                            1
 10028                                            1
 10029                                            1
 10030                                            0
 10031                                            1

       calculated_host_listings_count_shared_rooms  reviews_per_month
 0                                               0               3.05
 1                                               0               1.72
 2                                               0               2.15
 3                                               0               0.32
 4                                               0               0.21
 ...                                           ...                ...
 10027                                           0               1.00
 10028                                           0               1.00
 10029                                           0               1.00
 10030                                           0               1.00
 10031                                           0               1.00

 [10032 rows x 49 columns])

In [4]:
#Llamar función 3
valores_nulos = dp.cuenta_valores_nulos(df1)
valores_nulos

('Valores nulos por columna',
 Unnamed: 0                                      0
 id                                              0
 host_name                                       0
 host_location                                   0
 host_response_time                              0
 host_response_rate                              0
 host_acceptance_rate                            0
 host_is_superhost                               0
 host_neighbourhood                              0
 host_listings_count                             0
 host_verifications                              0
 host_has_profile_pic                            0
 host_identity_verified                          0
 neighbourhood                                   0
 neighbourhood_cleansed                          0
 latitude                                        0
 longitude                                       0
 property_type                                   0
 room_type                                       0
 accommodates                                    0
 bathrooms                                       0
 bedrooms                                        0
 beds                                            0
 amenities                                       0
 price                                           0
 minimum_nights                                  0
 maximum_nights                                  0
 minimum_minimum_nights                          0
 maximum_minimum_nights                          0
 minimum_maximum_nights                          0
 maximum_maximum_nights                          0
 minimum_nights_avg_ntm                          0
 maximum_nights_avg_ntm                          0
 has_availability                                0
 availability_30                                 0
 availability_60                                 0
 availability_90                                 0
 availability_365                                0
 number_of_reviews                               0
 number_of_reviews_ltm                           0
 number_of_reviews_l30d                          0
 first_review                                    0
 last_review                                     0
 instant_bookable                                0
 calculated_host_listings_count                  0
 calculated_host_listings_count_entire_homes     0
 calculated_host_listings_count_private_rooms    0
 calculated_host_listings_count_shared_rooms     0
 reviews_per_month                               0
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(0))

In [5]:
#Llamar función 4
df_sin_atipicos= dp.sustituye_valores_atipicos(df1)

c:\Users\fergu\OneDrive\Desktop\carga de datos\Examen\funciones1.py:51: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '15046.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df[col] > limite_superior_iqr, col] = limite_superior_iqr
c:\Users\fergu\OneDrive\Desktop\carga de datos\Examen\funciones1.py:51: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '882.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df[col] > limite_superior_iqr, col] = limite_superior_iqr
c:\Users\fergu\OneDrive\Desktop\carga de datos\Examen\funciones1.py:51: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '87.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df[col] > limite_superior_iqr, col] = limite_superior_iqr
c:\Users\fergu\OneDrive\Desktop\carga de datos\Examen\funciones1.py:51: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '147.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df[col] > limite_superior_iqr, col] = limite_superior_iqr
c:\Users\fergu\OneDrive\Desktop\carga de datos\Examen\funciones1.py:51: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '15.625' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df[col] > limite_superior_iqr, col] = limite_superior_iqr

In [6]:
df1.to_csv("Amsterdam1_procesado.csv")